@import url('https://fonts.cdnfonts.com/css/jetbrains-mono-2');

* {
    margin: 0;
    padding: 0;
}

#content {
    font-family: 'JetBrains Mono', sans-serif;
    background: rgb(0,232,255);
    background: radial-gradient(circle, rgba(0,232,255,1) 0%, rgba(68,129,239,1) 100%);
    height: 100vh;
}

#searchContainer {
    width: 95%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: auto;
    position: relative;
}

#searchBar {
    font-family: 'JetBrains Mono', sans-serif;
    width: 95%;
    max-width: 400px;
    margin: 5px;
    height: 35px;
    font-size: 20px;
    border-radius: 50px;
    padding-left: 5px;
    background-color: white;
    z-index: 3;
}
#searchResults {
    width: 95%;
    max-width: 375px;
    transition: .1s;
    position: fixed;
    top: 25px;
    padding-top: 20px;
    z-index: 2;
    background-color: white;
}

#searchResults{
    border: 1px solid black;
}

.resultDiv:hover {
    cursor: pointer;
    background-color: aqua;
}

#currentWeather {
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
}

.currentHeader {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-items: center;
    align-items: center;
}

.locationName {
    font-size: 25px;
}

.conditionDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 60%;
    margin: auto;
    margin-top: 20px;
}

.conditionHL {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.conditionL, .conditionH {
    margin: 5px;
}

.conditionTemp{
    font-size: 50px;
}

#hourlyWeather {
    user-select: none;
    width: 90%;
    display: flex;
    overflow-x: auto;
    max-width: 700px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.hourDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hourDiv > img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

::-webkit-scrollbar {
    height: 7.5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

#loaderContainer {
    display: none;
    transition: .5s;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: #ffffff
        url("assets/1496.gif") center
        no-repeat;
    z-index: 2;
}

#weeklyWeather {
    width: 90%;
    max-width: 350px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 350px;
}

.dayDiv {
    max-height: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}

.weekCon {
    width: auto;
    height: 35px;
}

.dayDivWD {
    font-size: 17px;
    justify-self: right;
}

.weekTemp {
    justify-self: left;
    font-size: 17px;
}
