@import url('https://fonts.cdnfonts.com/css/jetbrains-mono-2');

* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.39);
    height: 100vh;
}

#content {
    transition: 1s;
    font-family: 'JetBrains Mono', sans-serif;
}

#searchContainer {
    width: 95%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: auto;
    position: relative;
}

#searchBar {
    color: white;
    font-family: 'JetBrains Mono', sans-serif;
    width: 95%;
    max-width: 400px;
    margin: 5px;
    height: 35px;
    font-size: 20px;
    border-radius: 50px;
    border: none;
    padding-left: 5px;
    background-color: #00aeff1e;
    box-shadow: 0px 0px 2px rgba(109, 109, 109, 0.541);
    text-shadow: none;
    z-index: 3;
    transition: .1s;
}

#searchBar:focus {
    outline: none;
    background-color: rgba(0, 144, 240, 0.747);
    transition: .1s;
}

#searchBar::placeholder {
    color: white;
}

#searchResults {
    width: 95%;
    max-width: 375px;
    transition: .1s;
    position: fixed;
    top: 25px;
    margin-top: 20px;
    z-index: 2;
    background-color: rgba(0, 144, 240, 0.747);
    border-radius: 5px;
}

.resultDiv {
    padding: 5px;
    border-radius: 5px;
}


.resultDiv:hover {
    cursor: pointer;
    background-color: rgb(39, 147, 248);
}

#currentWeather {
    max-width: 80%;
    margin: auto;
}

.currentHeader {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-items: center;
    align-items: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.39);
}

.locationName {
    font-size: 30px;
    max-width: 300px;
    max-height: fit-content;
    
}

.localTime {
    font-size: 20px;
}

.conditionDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 60%;
    margin: auto;
    margin-top: 20px;
}

.conditionHL {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.conditionL, .conditionH {
    margin: 5px;
}

.conditionTemp{
    font-size: 50px;
    text-align: center;
}

#hourlyWeather {
    user-select: none;
    width: 90%;
    display: flex;
    overflow-x: auto;
    max-width: 700px;
    margin: auto;
    margin-top: 20px;
    position: relative;
    background-color: #00aeff1e;
    padding: 2px;
    border-radius: 10px;
}

.hourDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hourDiv > img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

::-webkit-scrollbar {
    height: 7.5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f100;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-track:active{
    background: #d3d3d365;
  }

  /* Handle */
::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9c9c9c;
  }

#loaderContainer {
    display: none;
    transition: .5s;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(41, 141, 255, 0.856)
        url("assets/1496.gif") center
        no-repeat;
    z-index: 2;
}

#weeklyWeather {
    width: 90%;
    max-width: 350px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.dayDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    background-color: #00aeff1e;
    border-radius: 10px;
}

.weekCon {
    width: auto;
    height: 35px;
}

.dayDivWD {
    font-size: 17px;
    justify-self: right;
}

.weekTemp {
    justify-self: left;
    font-size: 17px;
}
